.Computer {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 90vh;
  font-family: "Ubuntu", sans-serif;
}

.Computer-display {
  background-color: #300924;
  color: white;
  height: 270px;
  width: 480px;
  border-radius: 5px;
  padding: .5rem;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,.4));
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Computer-display-screen {
  display: flex;
}

.Computer-cursor {
  margin-right: auto;
  padding: .5rem;
  padding-left: 0;
  margin-left: -.5rem;
  animation: 1s blink step-end infinite;
  font-weight: 900;
  color: white;
}

.Computer-message {
  padding: .5rem;
}

.Computer-message-user {
  padding: 0.5rem;
  color: #7E9A2A;
}

.Computer-message-user-tildaetc {
  color: #6291c5;
  padding-left: 0;
  padding-right: 0;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}