.App {
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(to top right, #5b0643, #e65618);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.App-name {
  margin-right: auto;
  padding: 1rem;
}

.App-name-text {
  background-color: rgb(49, 9, 37);
  padding: 1rem;
  opacity: 0.4;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.App-name-text:hover {
  opacity: 1;
}

.App-name-text-h2 {
  color: rgba(255,255,255,0.7);
  font-size: 1rem;
}

.App-links {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}